.container {
    width: 100%;
    height: 100%;
    background-image: url('../../');
    color: red;
}
.subcontainer {
    background: rgba(225,225,225,.5);
    width: 900px;
    height: 900px;
    color: #fff;
    z-index: 9999;
    position: relative;
    
}
* {
    padding: 0;
    margin: 0;

}